<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>
  <% @vehicles.each do |vehicle| %>
    <div class="card" style="width: 18rem;">
      <%= link_to(vehicle) do %>

      <%vehicle_pic = vehicle.photo.url || "furgoneta.png"%>
      <%= image_tag vehicle_pic, size:300, class:"card-img-top", alt:"Card image cap"%>

      
      <%end%>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <%end%>

<table>
  <thead>
    <tr>
      <th>Kind of vehicle</th>
      <th>Description</th>
      <th>Price hour</th>
      <th>Photo</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.kind_of_vehicle %></td>
        <td><%= vehicle.description %></td>
        <td><%= vehicle.price_hour %></td>
        <td><%= image_tag vehicle.photo.url, size:300 if vehicle.photo.url %></td>
        <td><%= vehicle.user.name %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <%if current_user == vehicle.user%>
          <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
          <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
