<p id="notice"><%= notice %></p>

<p>
  <strong>Kind of vehicle:</strong>
  <%= @vehicle.kind_of_vehicle %></br>
  <%vehicle_pic = @vehicle.photo.url || "motocar.png"%>
  <%= image_tag vehicle_pic, size:400, class:"rounded-circle", alt:"Card image cap"%>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle.description %>
</p>

<p>
  <strong>Price hour:</strong>
  <%= @vehicle.price_hour %>
</p>

<p>
  <strong>User:</strong>
  <%= @vehicle.user.name %></br>
  <%user_pic = @vehicle.user.photo.url || "srxcuadrado.png"%>
  <%=image_tag user_pic, size:60 %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>


<p>Contact</p>
<%= form_tag contact_path do %>
<%= text_field_tag :message, nil, placeholder: "Your message" %><br />
<%= text_field_tag :detail, nil, placeholder: "Something specific to say?" %><br />
<%= date_field_tag :date, nil, placeholder: "Day and hour" %><br />
<%= hidden_field_tag :vehicle_id, @vehicle.id%><br />
<%= submit_tag "Send message" %>
<% end %>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
   $("#hide").click(function(){
       $("p").hide();
   });
   $("#show").click(function(){
       $("p").show();
   });
});
</script>
<p>If you click on the "Hide" button, I will disappear.</p><button id="hide">Hide</button>
<button id="show">Show</button>
