<p id="notice"><%= notice %></p>

<p>
  <strong>Kind of vehicle:</strong>
  <%= @vehicle.kind_of_vehicle %></br>
  <%vehicle_pic = @vehicle.photo.url || "motocar.png"%>
  <%= image_tag vehicle_pic, size:400, class:"rounded-circle", alt:"Card image cap"%>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle.description %>
</p>

<p>
  <strong>Price hour:</strong>
  <%= @vehicle.price_hour %>
</p>

<p>
  <strong>User:</strong>
  <%= @vehicle.user.name %></br>
  <%user_pic = @vehicle.user.photo.url || "srxcuadrado.png"%>
  <%=image_tag user_pic, size:60 %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
